# Python cache and virtual environments
**/__pycache__/
**/.pytest_cache/
**/venv/
**/.venv/
**/carla-env/

# VSCode settings
.vscode/

# Large/unwanted build or runtime directories
**/logs/
**/checkpoints/
**/outputs/
**/runs/
